name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lua:
    name: Lua Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nvim-version:
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v4

      - name: Install Neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-version }}

      - name: Install plenary.nvim
        run: |
          mkdir -p ~/.local/share/nvim/site/pack/test/start
          git clone --depth 1 https://github.com/nvim-lua/plenary.nvim \
            ~/.local/share/nvim/site/pack/test/start/plenary.nvim

      - name: Run tests
        run: make test

  rust:
    name: Rust (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build and test
        run: nix build -L

      - name: Clippy and fmt
        run: nix flake check -L
